.hero {
    width: 100vw;
    height: 100vh;
    background: var(--hero-bg);
    padding-top: 10vh;
     /* Smooth bottom fade */
    -webkit-mask-image: linear-gradient(
        to bottom,
        black 75%,
        transparent 100%
    );

    mask-image: linear-gradient(
        to bottom,
        black 75%,
        transparent 100%
    );

    .txt {
        display: flex;
        // background: #000;
        justify-content: space-between;
        align-items: center;
        padding-left: 28vh;
        margin-top: 14vh;
        position: relative;
        padding-block: 10vh;
        z-index: 200;

        .title {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            z-index: 200;

            h1 {
                font-family: var(--font-fam);
                font-size: 2.3em;
            }
        }

        .img {
            width: 60vw;
            position: absolute;
            z-index: 1;
            opacity: .3;
            pointer-events: none;
            // transform: rotate(25deg); //I will use gsap for this :)

            img {
                width: 100%;
                pointer-events: none
            }
        }

        .info {
            z-index: 200 !important;

            p {
                width: 50%;
            }
           
        }
    }

    .name {
        display: flex;
        justify-content: center;
        z-index: 200 !important;
        position: relative;

        h1 {
            font-size: 17em;
            font-family: var(--font-fam);
        }
    }
}

@media (max-width:600px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-top: 10vh;

        .txt {
            padding-left: 0;
            padding-inline: 2em;
            flex-direction: column;
            justify-content: center !important;
            align-items: center !important;
            margin-top: 0;
            gap: 1em;

            .title {
                width: 100%;

                h1 {
                    font-size: clamp(20px, 2em, 2.3em);
                }
            }

            .info {
                p {
                    width: 100%;
                }
            }
        }

        .name {
            position: relative;
            top: -5vh;

            h1 {
                font-size: 5em;
            }
        }
    }
}


/* ================= TABLET ================= */
@media (max-width: 1024px) and (min-width:601px) {

  .hero {

    padding-top: 8vh;

    .txt {
      padding-left: 10vw;
      margin-top: 10vh;
      padding-block: 6vh;

      /* HERO TITLE */
      .title {
        width: 40%;

        h1 {
          font-size: 2em;
        }
      }

      /* LAPTOP IMAGE */
      .img {
        width: 70vw;
        opacity: 0.25;

        img {
          width: 100%;
        }
      }

      /* INFO TEXT */
      .info {
        p {
          width: 70%;
          font-size: 0.95em;
        }
      }
    }

    /* HUGE BACKGROUND NAME */
    .name {

      h1 {
        font-size: 10em;
      }
    }
  }
}
