.about {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 13em;
    justify-content: space-between;
    height: 200vh;
    // height: 100vh;
    height: fit-content;

    .txt {
        display: flex;
        // background: pink;
        justify-content: center;
        align-items: center;

        .txt-info {
            width: 50vw;
            padding-inline: 2em;
            font-size: 1.5em;

            h1 {
                padding-block: 2vh;
                font-family: var(--font-fam);
            }
        }
    }

    .edu {
        // background: green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15vw;

        .text {
            font-family: var(--font-fam);
            font-size: 1.5em;
        }

        .edu-cont {
            display: flex;
            flex-direction: column;
            padding-top: 10vh;
            height: 140vh;
            justify-content: space-between;

            .edu-item {
                display: flex;
                // width: 70vw;
                justify-content: space-between;
                gap: 2em;
                align-items: center;
                position: relative;
                padding-bottom: 4em;
                display: flex;
                justify-content: center;
                align-items: center;

                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    width: 80%;
                    height: 3px;
                    background: white;
                }

                &:nth-child(1) {
                    flex-direction: row-reverse;

                }

                h3 {
                    font-family: var(--font-fam);
                    color: var(--primary-color);
                }

                p {
                    span {
                        color: var(--primary-color);
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    width: 50vw;
                    font-size: 1.5em;
                }

                .cta-cont {
                    margin-top: 1em;
                }
            }
        }
    }

    .cer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        align-items: center;
        margin-top: 15vw;

        .text {
            display: flex;
            flex-direction: column;
            gap: 2em;
            font-size: 1.5em;

            .title {
                h2 {
                    font-size: 1.5em;
                    font-family: var(--font-fam);
                }
            }

        }
    }
}


@media (max-width:600px) {
    .about {
        padding-top: 5em;

        .txt {
            flex-direction: column;
            padding-bottom: 3em;
            width: 100vw;

            .txt-info {
                width: 100vw;
                padding: 0px;
                padding-inline: 1em;
            }

            .img-cont {
                width: 100vw;

                img {
                    width: 100%;
                }
            }
        }

        .edu {
            width: 100vw;
            padding-inline: 1em;

            .text {
                width: 100vw;
                text-align: center;
                font-size: 1.1em;
            }

            .edu-cont {
                height: fit-content;
                gap: 5em;
                justify-content: center;

                .edu-item {
                    flex-direction: column !important;

                    .info {
                        width: 100vw;
                        padding-inline: 1em;

                        h3 {
                            padding-bottom: 10px;
                        }
                    }

                    .img-cont {
                        width: 100vw;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}




/* ================= TABLET ================= */
@media (max-width: 1024px)and (min-width:600px) {

  .about {
    padding-top: 8em;

    /* HERO SECTION */
    .txt {
      gap: 2em;
      padding-inline: 2em;

      .txt-info {
        width: 55vw;
        font-size: 1.2em;
      }

      .img-cont {
        width: 40vw;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    /* EDUCATION SECTION */
    .edu {
      margin-top: 10vw;

      .text {
        font-size: 1.3em;
      }

      .edu-cont {

        /* IMPORTANT FIX */
        height: fit-content;
        gap: 6em;

        .edu-item {

          gap: 2em;

          &::after {
            width: 90%;
          }

          .info {
            width: 55vw;
            font-size: 1.2em;
        padding-inline: 2em !important;
          }

          .img-cont {
            width: 40vw;

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}

