.contact-section {
  width: 100%;
  padding: 6rem 2rem;
  background: var(--section-bg);

  display: flex;
  justify-content: center;
}

.contact-container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}

/* Left text */
.contact-text {
  flex: 1;
  font-family: var(--font-fam);

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    opacity: 0.7;
    line-height: 1.6;
  }
}

/* Form */
.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input,
  textarea {
    padding: 0.9rem 1rem;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.411);
    background: var(--input-bg);
    color: inherit;
    font-family: inherit;

    transition: 0.3s;

    &:focus {
      outline: none;
      border-color: var(--primary-color);
    }
  }

  .cta2 {
    padding: 0.9rem;
    border-radius: 10px;
    color: white;
    font-family: var(--font-fam);
  }
}