nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: var(--navbar-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-fam);
    z-index: 500;

    .i {
        display: none;
        // cursor: pointer;
    }

    h1 {
        // color: var(--primary-color);
        display: flex;
        // flex-direction: column;
        position: relative;
        // overflow: visible;

        span {
            position: absolute;
            top: 100%;
            color: var(--primary-color);
        }
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        list-style: none;
        padding: 10px 20px;

        li {
            cursor: pointer;

            // color: var(--primary-color);
            &.active {
                color: var(--primary-color);
            }
        }
    }
}


@media (max-width:600px) {
    nav {
        display: flex;
        overflow: visible;
        background: var(--mb-nav-bg);
        .i {
            display: flex;
        }

        ul {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100%;
            width: 100%;
            background: var(--mb-nav-bg);
            padding-block: 20px;
            z-index: 600;
            &.open {
                display: flex;
            }
        }
    }
}