* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--main-bg);
  color: var(--txt-color);
  overflow-x: hidden;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://images.pexels.com/photos/5052331/pexels-photo-5052331.jpeg"); /*water splashes*/
    background: url("https://images.pexels.com/photos/9783810/pexels-photo-9783810.jpeg"); /*lonely person*/
    background: url("https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg"); /*flowers*/
    opacity: 0.05;
    background-size: cover;
    z-index: -1;
  }
}
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Macondo&display=swap");
@font-face {
  font-family: "exbed";
  src: url("././fonts/Exbed.ttf");
}
/* shared styles */
.a {
  color: var(--txt-color);
  text-decoration: none;
}
.link {
  color: var(--accent-color);
}
.cursive {
  font-family: "Edu NSW ACT Cursive" !important;
  /* font-style: italic; */
  font-size: xx-small;
}
.note {
  font-family: "Edu NSW ACT Cursive" !important;
  font-style: italic;
  font-size: small;
  color: var(--primary-color);
  background: var(--light-bg);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 30px;
}
.txt-glow {
  filter: drop-shadow(2px 3px 5px var(--primary-color));
}
.cta {
  background: var(--cta-bg);
  color: var(--txt-color);
  border: none;
  padding: 5px 10px;
  margin-top: 20px;
  cursor: pointer;
}
.cta2 {
  background: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 8px 15px;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.8s, color 0.8s; /* instead of transition:0.8s; because it makes the whole .cta2 disappear with GSAP :) */
  &:hover {
    background: var(--primary-color);
    color: var(--txt-color);
  }
}
.noise {
  position: relative;
  z-index: 0;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg"); /*flowers*/
    background: url("https://images.pexels.com/photos/5052331/pexels-photo-5052331.jpeg"); /*water splashes*/
    background: url("https://images.pexels.com/photos/9783810/pexels-photo-9783810.jpeg"); /*lonely person*/
    opacity: 0.05;
    background-size: cover;
    z-index: -1;
  }
}
.line-effect {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content; /*idk bou it*/
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 90%;
    margin-top: 1vh;
    background: var(--primary-color);
    height: 2px;
  }
}
/* variables */
:root {
  --navbar-bg: transparent;
  --mb-nav-bg: #1a1a1a;
  --txt-color: white;
  --medium-bg: #292929;
  --light-bg: #3c3837;
  --main-bg: #1a1a1a;
  --hero-bg: radial-gradient(circle, var(--medium-bg) 0%, var(--main-bg) 100%);
  --primary-color: #10cac1;
  --secondary-color: #074540;
  --accent-color: #0cc6bc;
  --cta-bg: #0cc6bc;
  --font-fam: "exbed";
}
