.designs {
    padding: 100px 8%;
    padding-bottom: 12cm;

    .text {
        text-align: center;
        margin-bottom: 60px;
        font-family: var(--font-fam);

        h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
            padding-top: 20px;
        }

        p {
            opacity: 0.7;
        }
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 40px;
    }

    .card {
        background: #111;
        border-radius: 15px;
        overflow: hidden;
        transition: 0.4s;

        &:hover {
            transform: translateY(-10px);
        }

        .img img {
            width: 100%;
            height: 220px;
            object-fit: cover;
        }

        .info {
            padding: 20px;

            h2 {
                margin-bottom: 10px;
                font-family: var(--font-fam);
                opacity: .7;
            }

            .tech {
                display: flex;
                gap: 10px;
                margin: 15px 0;

                span {
                    background: #222;
                    padding: 5px 12px;
                    border-radius: 20px;
                    font-size: 0.8rem;
                }
            }

            .cta {
                display: inline-block;
                margin-top: 10px;
            }
        }
    }
}